body {
 
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3-fuPLI7mHBW9N99Ow9XZ_F7Mq-_VyOlSI_f_X-JF74r7Wxx-THskWNovfy77S4xvuKQ&usqp=CAU') no-repeat center center fixed;   
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-repeat: no-repeat;
	background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
